{% extends "app/base/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/main/styles.css' %}">
{% endblock %}
{% block contenido %}
<!--El section es para separar-->
<section></section>
<!--Productos venta-->
<div class="productos">
  <div class="prod-img">
    <p>Precio $10.000</p>
    <img src="{% static 'app/images/frenos.png' %}" alt="">
    <button class="button-tabla-atenciones" id="green"> Añadir al Carrito </button>
  </div>
  
  <div class="prod-img">
    <p>Precio $10.000</p>
    <img src="{% static 'app/images/rueda.png' %}" alt="">
    <button class="button-tabla-atenciones" id="green"> Añadir al Carrito </button>
  </div>

  <div class="prod-img">
    <p>Precio $10.000</p>
    <img src="{% static 'app/images/turbo.png' %}" alt="">
    <button class="button-tabla-atenciones" id="green"> Añadir al Carrito </button>
  </div>
  
  <div class="prod-img">
    <p>Precio $10.000</p>
    <img src="{% static 'app/images/suspension.png' %}" alt="">
    <button class="button-tabla-atenciones" id="green"> Añadir al Carrito </button>
  </div>
</div>
<!--Carrusel--> 
<div class="slider-box">
  <ul>
    <li>
      <img src="{% static 'app/images/el_sheriff_car.jpeg' %}" alt="Sheriff car">
      <div class="texto">
        <h2>El Sheriff Car</h2>
        <p>
          Nombre Mecanico: Nombre 
          <br>  
          Tipo Atencionales: Tipo de Atencion
          <br>
          Fecha: Fecha
          <br>
          Materiales Utilizados: Materiales
          <br>
          El chasis de fibra de carbono ultraligero fue diseñado para ofrecer una excelente aerodinámica y estabilidad a altas velocidades, mientras que el motor de alta potencia proporciona un rendimiento excepcional en la pista. Los neumáticos de competición especialmente diseñados ofrecen un agarre máximo en las curvas cerradas y en las rectas largas.
          <br>
          Contiene un llamativo diseño exterior. Con su carrocería roja brillante, detalles en amarillo y el emblemático número 95, encarna la velocidad y la confianza en sí mismo. Cada línea y curva del automóvil fue meticulosamente diseñada para transmitir una sensación de movimiento y energía, capturando la atención de todos.
          <br>
          Fue construido con los materiales de la más alta calidad y la artesanía experta que caracteriza a todos los vehículos Dinoco. Desde el taller de montaje hasta la línea de pintura, cada paso del proceso de fabricación se llevó a cabo con precisión y cuidado, garantizando que fuera más que un simple automóvil.
        </p>
      </div>
    </li>

    <li>
      <img src="{% static 'app/images/jackson_storm_car.jpg' %}" alt="Jackson storm">
      <div class="texto">
        <h2>Jackson Storm</h2>
        <p>
          Nombre Mecanico: Nombre 
          <br>  
          Tipo Atencionales: Tipo de Atencion
          <br>
          Fecha: Fecha
          <br>
          Materiales Utilizados: Materiales  
          <br>
          El chasis de fibra de carbono ultraligero fue diseñado para ofrecer una excelente aerodinámica y estabilidad a altas velocidades, mientras que el motor de alta potencia proporciona un rendimiento excepcional en la pista. Los neumáticos de competición especialmente diseñados ofrecen un agarre máximo en las curvas cerradas y en las rectas largas.
          <br>
          Contiene un llamativo diseño exterior. Con su carrocería roja brillante, detalles en amarillo y el emblemático número 95, encarna la velocidad y la confianza en sí mismo. Cada línea y curva del automóvil fue meticulosamente diseñada para transmitir una sensación de movimiento y energía, capturando la atención de todos.
          <br>
          Fue construido con los materiales de la más alta calidad y la artesanía experta que caracteriza a todos los vehículos Dinoco. Desde el taller de montaje hasta la línea de pintura, cada paso del proceso de fabricación se llevó a cabo con precisión y cuidado, garantizando que fuera más que un simple automóvil.
        </p>
      </div>
    </li>

    <li>
      <img src="{% static 'app/images/mcweencar.jpg' %}" alt="mcween">
      <div class="texto">
        <h2>Rayo Mcween</h2>
        <p>
          Nombre Mecanico: Nombre 
          <br>  
          Tipo Atencionales: Tipo de Atencion
          <br>
          Fecha: Fecha
          <br>
          Materiales Utilizados: Materiales  
          <br>
          El chasis de fibra de carbono ultraligero fue diseñado para ofrecer una excelente aerodinámica y estabilidad a altas velocidades, mientras que el motor de alta potencia proporciona un rendimiento excepcional en la pista. Los neumáticos de competición especialmente diseñados ofrecen un agarre máximo en las curvas cerradas y en las rectas largas.
          <br>
          Contiene un llamativo diseño exterior. Con su carrocería roja brillante, detalles en amarillo y el emblemático número 95, encarna la velocidad y la confianza en sí mismo. Cada línea y curva del automóvil fue meticulosamente diseñada para transmitir una sensación de movimiento y energía, capturando la atención de todos.
          <br>
          Fue construido con los materiales de la más alta calidad y la artesanía experta que caracteriza a todos los vehículos Dinoco. Desde el taller de montaje hasta la línea de pintura, cada paso del proceso de fabricación se llevó a cabo con precisión y cuidado, garantizando que fuera más que un simple automóvil.
        </p>
      </div>
    </li>

    <li>
      <img src="{% static 'app/images/invisible.jpg' %}" alt="El auto invisible">
      <div class="texto">
        <h2>Auto Invisible</h2>
        <p>
          Nombre Mecanico: Nombre 
          <br>  
          Tipo Atencionales: Tipo de Atencion
          <br>
          Fecha: Fecha
          <br>
          Materiales Utilizados: Materiales  
          <br>
          El chasis de fibra de carbono ultraligero fue diseñado para ofrecer una excelente aerodinámica y estabilidad a altas velocidades, mientras que el motor de alta potencia proporciona un rendimiento excepcional en la pista. Los neumáticos de competición especialmente diseñados ofrecen un agarre máximo en las curvas cerradas y en las rectas largas.
          <br>
          Contiene un llamativo diseño exterior. Con su carrocería roja brillante, detalles en amarillo y el emblemático número 95, encarna la velocidad y la confianza en sí mismo. Cada línea y curva del automóvil fue meticulosamente diseñada para transmitir una sensación de movimiento y energía, capturando la atención de todos.
          <br>
          Fue construido con los materiales de la más alta calidad y la artesanía experta que caracteriza a todos los vehículos Dinoco. Desde el taller de montaje hasta la línea de pintura, cada paso del proceso de fabricación se llevó a cabo con precisión y cuidado, garantizando que fuera más que un simple automóvil.
        </p>
      </div>
    </li>

    <li>
      <img src="{% static 'app/images/batimovil.jpg' %}" alt="Batimovil">
      <div class="texto">
        <h2>Batimovil</h2>
        <p>
          Nombre Mecanico: Nombre 
          <br>  
          Tipo Atencionales: Tipo de Atencion
          <br>
          Fecha: Fecha
          <br>
          Materiales Utilizados: Materiales  
          <br>
          El chasis de fibra de carbono ultraligero fue diseñado para ofrecer una excelente aerodinámica y estabilidad a altas velocidades, mientras que el motor de alta potencia proporciona un rendimiento excepcional en la pista. Los neumáticos de competición especialmente diseñados ofrecen un agarre máximo en las curvas cerradas y en las rectas largas.
          <br>
          Contiene un llamativo diseño exterior. Con su carrocería roja brillante, detalles en amarillo y el emblemático número 95, encarna la velocidad y la confianza en sí mismo. Cada línea y curva del automóvil fue meticulosamente diseñada para transmitir una sensación de movimiento y energía, capturando la atención de todos.
          <br>
          Fue construido con los materiales de la más alta calidad y la artesanía experta que caracteriza a todos los vehículos Dinoco. Desde el taller de montaje hasta la línea de pintura, cada paso del proceso de fabricación se llevó a cabo con precisión y cuidado, garantizando que fuera más que un simple automóvil.
        </p>
      </div>
    </li>

    <li>
      <img src="{% static 'app/images/warthog.png' %}" alt="warthog">
      <div class="texto">
        <h2>Warthog</h2>
        <p>
          Nombre Mecanico: Nombre 
          <br>  
          Tipo Atencionales: Tipo de Atencion
          <br>
          Fecha: Fecha
          <br>
          Materiales Utilizados: Materiales  
          <br>
          El chasis de fibra de carbono ultraligero fue diseñado para ofrecer una excelente aerodinámica y estabilidad a altas velocidades, mientras que el motor de alta potencia proporciona un rendimiento excepcional en la pista. Los neumáticos de competición especialmente diseñados ofrecen un agarre máximo en las curvas cerradas y en las rectas largas.
          <br>
          Contiene un llamativo diseño exterior. Con su carrocería roja brillante, detalles en amarillo y el emblemático número 95, encarna la velocidad y la confianza en sí mismo. Cada línea y curva del automóvil fue meticulosamente diseñada para transmitir una sensación de movimiento y energía, capturando la atención de todos.
          <br>
          Fue construido con los materiales de la más alta calidad y la artesanía experta que caracteriza a todos los vehículos Dinoco. Desde el taller de montaje hasta la línea de pintura, cada paso del proceso de fabricación se llevó a cabo con precisión y cuidado, garantizando que fuera más que un simple automóvil.
        </p>
      </div>
    </li>

    <li>
      <img src="{% static 'app/images/lambo.jpg' %}" alt="Lambo">
      <div class="texto">
        <h2>Lambo</h2>
        <p>
          Nombre Mecanico: Nombre 
          <br>  
          Tipo Atencionales: Tipo de Atencion
          <br>
          Fecha: Fecha
          <br>
          Materiales Utilizados: Materiales  
          <br>
          El chasis de fibra de carbono ultraligero fue diseñado para ofrecer una excelente aerodinámica y estabilidad a altas velocidades, mientras que el motor de alta potencia proporciona un rendimiento excepcional en la pista. Los neumáticos de competición especialmente diseñados ofrecen un agarre máximo en las curvas cerradas y en las rectas largas.
          <br>
          Contiene un llamativo diseño exterior. Con su carrocería roja brillante, detalles en amarillo y el emblemático número 95, encarna la velocidad y la confianza en sí mismo. Cada línea y curva del automóvil fue meticulosamente diseñada para transmitir una sensación de movimiento y energía, capturando la atención de todos.
          <br>
          Fue construido con los materiales de la más alta calidad y la artesanía experta que caracteriza a todos los vehículos Dinoco. Desde el taller de montaje hasta la línea de pintura, cada paso del proceso de fabricación se llevó a cabo con precisión y cuidado, garantizando que fuera más que un simple automóvil.
        </p>
      </div>
    </li>
  </ul>
</div>
{% endblock %}