{% extends "app/base/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/carrito/styles.css' %}">
{% endblock %}
{% block contenido %}
<!--Carrito-->
<main class="main-cart">
    <div class="bloque">
        <div class="atencion">
            <header>
                <h1>Carrito de Compras</h1>
            </header>
            <ul class="formato-carrito">
                <li class="cart-list">
                    <img src="{% static 'app/images/rueda.png' %}" id="img">Ruedas
                    <br>  
                    Valor:   $100.000 <button class="del-button"id="red">Eliminar</button>
                </li>
                <li class="cart-list">
                    <img src="{% static 'app/images/suspension.png' %}" id="img">Suspensiones
                    <br>  
                    Valor:   $50.000 <button class="del-button"id="red">Eliminar</button>
                </li>
                <li class="cart-list">
                    <img src="{% static 'app/images/frenos.png' %}" id="img">Frenos
                    <br>  
                    Valor:   $50.000 <button class="del-button"id="red">Eliminar</button>
                </li>
                <li class="cart-list">
                    <img src="{% static 'app/images/turbo.png' %}" id="img">Turbo
                    <br>  
                    Valor:   $20.000 <button class="del-button"id="red">Eliminar</button>
                </li>
                </ul>
            <div class="detalle-venta">
                --Detalle--
                <br>
                Total a pagar: $*****
            </div>
            <div class="button-cart">
                <a href="{% url 'main' %}"><button id="black"> Volver </button></a>
                <button id="green"> Comprar </button>
            </div>
        </div>
    </div>
</main>
{% endblock %}