body{
    background-color: rgb(228, 212, 197);
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/*Login*/
.session {
    text-align: center;
    background-color: rgb(77, 28, 28);
    color:rgb(228, 212, 197);
    font-family: sans-serif;
    border-radius: 10px;
    box-shadow: 0 0 40px #9999;
    margin: auto;
    max-width: 500px;
    margin-top: 50px;
}

.session h1{
    padding-top: 20px;
    font-weight: 100;
    color: #f2f2f2ff;
}

.session input{
    color: rgb(228, 212, 197);
    border: none;
    margin: 5px;
    padding: 3px 25px;
    background: transparent;
    border-bottom: 1px solid rgb(228, 212, 197);
    border-left: 1px solid rgb(228, 212, 197);
    border-bottom-left-radius: 10px;
}

.session input[type="submit"]{
    font-size: 15px; /*aumentar tamaño del botón*/
    cursor: pointer;
}

.session input[type="submit"]:hover{
    opacity: 0.3;
}

.session .form_input{
    padding: 10px 20px;
    text-align: right;
    padding-right: 100px;
}

.session .form_button{
    padding: 20px 0 20px 0;
    transition: 0.2s ease;
}

/*Para la imagen del login*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    border-radius: 50%;
    padding-top: 100px;
    height: 150px;
    width: 200px;
}

/*Barra superior del main*/
.menu ul {
    margin: 0;
    display: flex;
    gap: 10rem;
    align-items: center;
    justify-content: center;
    list-style-type: none;
}

.menu img {
    height: 80px;
    width: 80px;
    border-radius: 60px;
}
.menu a{
    color: rgb(228, 212, 197);
}

.menu{
    background-color: rgb(77, 28, 28);
    width: 100%;
    height: 100px;
}

/*.link para animación en el menu*/
.link {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 0.5rem;
    position: relative;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: rgb(228, 212, 197);
    border-radius: 10px;
    transform: scaleX(0);
    transition: all 0.6s ease;       
}

.link::before {
    bottom: 0;
    left: 0;
}

.link:hover::before {
    transform: scaleX(1);
}

/*Title*/
.title{
    box-shadow: 0 0 20px 0 #5c1717bb;
    text-align: center;
    color: #77004499;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 50px;
    padding: 25px 0px;
    font-family: Verdana;
}
/*Carrusel*/
.container-carru{
    max-width: 100%;
    margin: 0 auto;
}

.fotos{
    padding: 40px 0px;
}

.swiper{
    width: 100%;
}

.swiper-slide{
    width: 500px;
    height: 1200px;
    border-radius: 20px;
    text-align: center;
}

.swiper-slide img{
    border-radius: 12px;
    display: block;
    width: 500px;
    height: 300px;
    object-fit: cover;
}

@media(max-width:400px){
    body{
        min-height: 0vh;
    }
    .fotos{
        padding: 30px;
    }
}

/*Centrar con carrusel*/
.swiper-slide figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Titulo de vehículo*/
.swiper-slide figcaption {
    background-color: #6007;
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

/*Vista despliegue*/
.swiper-slide details {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f2f2f2;
    box-shadow: 0 4px 0 0 #0005;
}

.swiper-slide summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
}

/*Content style*/
.swiper-slide p {
    text-align: start;
    font-family: Arial, sans-serif; 
    font-size: 18px; 
    line-height: 1.5; 
    color: #333; 
    padding: 10px; 
    border-radius: 5px; 
    background-color: #f2f2f2;
}

/*Pie de pagina*/
.pie{
    position: relative;
    min-height: 100vh;
    margin-top: 10px;
}

.pie_pagina{
    position: absolute ;
    width: 100%;
    background-color: rgb(77, 28, 28);
    bottom: 0;
    height: 10%;
    text-align: center;
    padding-top: 10px;
    content: ""; 
    color: rgb(228, 212, 197);
    line-height: 30px;
}

.pie_pagina a{
    color: rgb(228, 212, 197);
    content: "";  
}

/*Quitar flechas de "input type=number" */
#miInputNumber::-webkit-inner-spin-button, 
#miInputNumber::-webkit-outer-spin-button 
{   -webkit-appearance: none;   margin: 0; }


/*Revisiones Atenciones*/
.bloque{
    width: 100%;
    height: 100% ;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    
}

.button-tabla-atenciones{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    color: rgba(255, 255, 255);
    background-color: rgb(228, 212, 197);
    border-color: rgb(228, 212, 197);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

/*Modificar color botones*/
#green {
    background-color: #009688;
    border-color: #009688;
}
#red {
    background-color: #ff0000;
    border-color: #ff0000;
}
#black {
    background-color: #333;
    border-color: #333;
}

.bloque input{
    width: 500px;
    height: 30px;
    border: none;
    border-radius: 10px;
    color: rgb(77, 28, 28);
    font-size: 15px;
    font-weight: bold;   
}

.atencion{
    color: rgb(228, 212, 197);
    background-color: rgb(77, 28, 28);
    width: 80%;
    height: 100%; 
    padding-bottom: 100px;
    border-radius: 10px;   
    margin-bottom: 20px;
}

.atencion h1{
    padding: 50px 0 50px 50px;
}

.atencion label{
    font-size: 20px;
    font-weight: bold;
    padding-left: 150px;
    
}

.tabla_atencion{
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.tabla{
    background-color: rgb(77, 28, 28);
    width: 80%;
    height: 100%;
}

.tabla details {
    width: 400px;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.tabla p{
    font-size: 12px;
    font-weight: bold;
    width: 400px;
}

.boton{
    padding-top: 20px;
    text-align: right;
    padding-right: 200px;
}

/*carrito.html*/
header {
    background-color: rgb(77, 28, 28);
    color: #fffe;
    text-align: center;
    padding: 10px;
}
.main-cart{
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    padding-bottom: 0;
}
.cart-list{
    padding-bottom:10px 20px;
    margin-bottom: 20px;
    background-color:#0004;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 30px;
}
.del-button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 900px;
    margin-right: 20px;
    cursor: pointer;
}
.button-cart{
    padding-top: 0;
}
.button-cart button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    color: #fff;
    background-color: rgb(77, 28, 28);
    border-color: rgb(77, 28, 28);
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

/* Ocultar los puntos de <ul> */
.formato-carrito {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    max-width: 700px;
}
.detalle-venta{
    padding-top: 20px;
    font-weight: bold;
    background-color:#0004;
    padding: 10px;
    margin: 50px auto;
    max-width: 400px;
}