{% extends "app/base/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'app/css/formulario/styles.css' %}">
{% endblock %}
{% block contenido %}
<h1 class="text-center">Postulación para Mecánico en Taller Rayo McQueen</h1>

<form id="formulario" action="#" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Edad</th>
            <th>Género</th>
            <th>Email</th>
            <th>Celular</th>
            <th>Especialización</th>
            <th>Motivo</th>
        </tr>
    </thead>
    <tbody>
        {% for x in postulaciones %}
        <tr>
            <td>{{ x.rut }}</td>
            <td>{{ x.pnombre }}</td>
            <td>{{ x.appaterno }}</td>
            <td>{{ x.apmaterno }}</td>
            <td>{{ x.edad }}</td>
            <td>{{ x.tipo_genero }}</td>
            <td>{{ x.email }}</td>
            <td>{{ x.celular }}</td>
            <td>{{ x.especializacion }}</td>
            <td>{{ x.motivo }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
