body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    color: #ffffff;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(31, 31, 31, 0.6);
    border-bottom: 1px solid #333;
    z-index: 1000;
}

nav .logo{
    height: 80px;
    float: left;
}

.logo img{
    width: 80px;
    height: 80px;
    border-radius: 60px;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li a{
    top: 25px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

#menu-search {
    box-sizing: border-box;
    margin: 20px;
    background: none;
    border: none;
    outline: none;
    max-width: 190px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: #ffffff;
} 
/*.link para animación en el menu*/
.link {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 0.5rem;
    position: relative;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: #ffffff;
    border-radius: 10px;
    transform: scaleX(0);
    transition: all 0.6s ease; 
    bottom: 0;
    left: 0;
    color: #ffffff;     
}


.link:hover::before {
    transform: scaleX(1);
    color: white;
}

.link:hover {
    transform: scaleX(1);
    color: #ffffff; 
}

@media screen and (max-width: 1300px) {
    nav input {
        display: none;
    }
    nav img {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .link{
        top: 20px;
        font-size: 13px;
    }
    #img {
        width: 100px;
        height: 100px;
    }
}
#green {
    background-color: #009688;
    border-color: #009688;
}
#red {
    background-color: #ff0000;
    border-color: #ff0000;
}
#black {
    background-color: #333;
    border-color: #333;
}
/*Tabla responsive*/
@media screen and (min-width: 801px) {
    .tabla td {
    font-size: 15px;
    }
    .tabla th {
        font-size: 15px;
    }
}

@media screen and (max-width: 800px) {
    .tabla td {
    font-size: 8px;
    }
.tabla th {
    font-size: 8px;
    }
}
/*FOOTER*/
.pie_pagina{
    width: 100%;
    background-color: rgba(31, 31, 31, 0.6);
    bottom: 0;
    height: 10%;
    text-align: center;
    padding-top: 10px;
    color: #fff;
    line-height: 30px;
    margin-top: auto;
}

.pie_pagina a{
    color: #fff;
    content: "";  
}