body{
    background-color: rgb(100, 100, 100);
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: url('../../images/tools.jpg');
}

/*Revisiones Atenciones*/
.bloque{
    width: 100%;
    height: 100% ;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.button-tabla-atenciones{
    width: auto;
    height: 30px;
    border-radius: 10px;
    color: #fff;
    background-color: #505050;
    border-color: #fff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.bloque input{
    border-radius: 10px;
    color: rgb(77, 28, 28);
    font-size: 15px;
    font-weight: bold;  
    display: flex; 
}

header {
    background-color: rgb(77, 28, 28);
    color: #fffe;
    text-align: center;
    padding: 10px;
}

/* Atencion */
.atenciones {
    color: #fff;
    background-color: rgb(77, 28, 28);
    min-width: 430px;
    border-radius: 10px;
    width: 50%;
    height: 100%; 
    padding: 0 50px 50px 50px;
    justify-content: center;
}

.formulario-atenciones{
    color: rgb(77, 28, 28);
    background-color: #fff;
    width: 100%;
    height: auto; 
    border-radius: 10px;   
    margin-bottom: 20px;
    display: flex;
    padding: 50px 0px 50px 0px;
    justify-content: center;
}

.formulario-atenciones div{
    padding-top: 5px;
    text-align: left;
}

.formulario-atenciones textarea{     
    min-width: 100%;     
    resize: vertical;     
    min-height: 100px;     
    max-height: 200px;     
    font-family: sans-serif; 
}