/*Para la imagen del login*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-color: rgb(100, 100, 100);
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background: url(../../images/tools.jpg);
    color: #ffffff;
}

h1{
    color: #ffffff;
    background-color: #333;
    padding: 20px;
    width: 100%;
}

a{
    text-decoration: none !important;
    color: #ffffff !important;
}

.volver{
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
}