/*Para la imagen del login*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background: url(../../images/tools.jpg)no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    color: #fff;
}

h1{
    background-color: #333;
    padding: 20px;
    width: 100%;
}

a{
    text-decoration: none !important;
    color: #fff !important;
}

.volver{
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
}