{% extends "app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'app/css/formulario/styles.css' %}">
{% endblock %}
{% block contenido %}
<div class="container" style="padding: 110px 0">
    <h1 class="text-center">Actualizar Atencion</h1>

    <form id= "formulario" action="{% url 'editaratencion' atenciones.id_atencion %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label>ID
            <input type="text" class="form-control" name="id_atencion" value="{{atenciones.id_atencion}}" readonly>
            </label>
        </div>
        <div class="form-group">
            <label>Nombre
                <input type="text" class="form-control" name="nom_mecanico" pattern="[A-Za-z\s]+" title="El nombre no debe contener números" value="{{atenciones.nom_mecanico}}" required minlength="3" maxlength="50">
            </label>
        </div>
        <div class="form-group">
            <label>Nombre Cliente
                <input type="text" class="form-control" name="nom_cliente" pattern="[A-Za-z\s]+" title="El nombre no debe contener números" value="{{atenciones.nom_cliente}}" required minlength="3" maxlength="50">
            </label>
        </div>
        <div class="form-group">
            <label>Email
                <input type="text" class="form-control" name="email" value="{{atenciones.email}}" required minlength="3" maxlength="50">
            </label>
        </div>
        <div class="form-group">
            <label>Fecha Atencion
                <input type="date" class="form-control" name="fecha_atencion" value="{{ atenciones.fecha_atencion|date:'Y-m-d' }}" required>
            </label>
        </div>
        <div class="form-group">
            <label>Categoria
                <select class="form-control" name="categoria" required>
                    <option value="" {% if atenciones.categoria == 0 %}selected{% endif %}>Seleccione</option>
                    <option value="1" {% if atenciones.categoria == 1 %}selected{% endif %}>Mantenimiento</option>
                    <option value="2" {% if atenciones.categoria == 2 %}selected{% endif %}>Cambio de pieza</option>
                    <option value="3" {% if atenciones.categoria == 3 %}selected{% endif %}>Limpieza</option>
                </select>
            </label>
        </div>
        <div class="form-group">
            <label>descripcion
                <input type="text" class="form-control" name="descripcion" value="{{atenciones.descripcion}}" required>
            </label>
        </div>
        <div class="form-group">
            <button type="submit" href="" class="btn btn-primary" id="green">Actualizar</button>
        </div>
    </form>
</div>
{% endblock %}