{% extends "app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/atenciones/styles.min.css' %}">
{% endblock %}
{% block contenido %}
<div class="bloque">
{% if user.is_superuser %}
<div class="atenciones">
    <h1>Registrar Producto</h1>
    <div class="formulario-atenciones">
    <form action="{% url 'añadirproducto' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">
        <div class="col-25">
        <label>Nombre del Producto <input type="text" name="nombre" placeholder="Frenos" required ></label>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
        <label>Descripción del Producto <input type="text"  name="descripcion" placeholder="Antiderrapes y antipinchos" required></label>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
        <label>Categoría
            <select name="categoria_prod" required>
                <option value="0">Seleccione</option>
                <option value="1">Ruedas</option>
                <option value="2">Suspensiones</option>
                <option value="3">Turbos</option>
                <option value="4">Frenos</option>
            </select>
        </label>
        </div>
    </div>
    <div class="row">
        <div class="col-25">
        <label>Valor
        </div>
        <div class="col-75">
        <input type="number" name="precio" class="form-control" required></textarea>
        </label>
        </div>
        <div class="row">
            <div class="col-25">
                <label>Imagen producto</label>
            </div>
            <div class="col-75">
                <input type="file" name="imagen" required>
            </div>
        </div>
        <div>
        <button type="reset" class="button-tabla-atenciones" id="red"> Limpiar </button>
        <button type="submit" class="button-tabla-atenciones"id="green"> Publicar </button>
        </div>
    </div>
    </form>
    </div>
</div>
{% else %}
  <h1>No tienes permisos para acceder a esta página</h1>
{% endif %}
</div>
{% endblock %}