{% extends "app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/atenciones/styles.css' %}">
{% endblock %}
{% block contenido %}
<div class="bloque">
  <div class="atenciones">
    <header>
    <h1>Generar Atención</h1>
    </header>
    <div class="formulario-atenciones">
      <form action="{% url 'añadiratencion' %}" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-25">
          <label>Nombre de Mecánico <input type="text" name="nom_mecanico" placeholder="Rodrigo Quesada" required ></label>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>Nombre Cliente <input type="text"  name="nom_cliente" placeholder="Mariana Alonsa" required></label>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>Email <input type="text" name="email" placeholder="ej: pedrito@gmail.com" required></label>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label >Fecha <input type="date" name="fecha_atencion" required></label>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>Categoría
            <select  name="categoria" >
              <option value="0">Seleccione</option>
              <option value="1">Mantencion</option>
              <option value="2">Cambio de Pieza</option>
              <option value="3">Limpieza</option>
            </select>
          </label>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label>Descripción
        </div>
        <div class="col-75">
          <textarea id="descripcion" name="descripcion" class="form-control" cols="30" rows="10" required></textarea>
          </label>
        </div>
        <div class="row">
          <div class="col-25">
            <label>Trabajo realizado</label>
          </div>
          <div class="col-75">
            <input type="file" id="archivo">
          </div>
        </div>
        <div>
          <button type="reset" class="button-tabla-atenciones" id="red"> Borrar </button>
          <button type="submit" class="button-tabla-atenciones"id="green"> Enviar </button>
        </div>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}