<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}

<link rel="stylesheet" href="{% static 'app/css/base/styles.min.css' %}">
<!-- ICONO PAGINA-->
<link rel="shortcut icon" href="{% static 'app/images/rayo_icon.png' %}"/>
<title>Taller Rayo McQueen</title>
{% block css %}

{% endblock %}
</head>
<body>
<!--Menu-->
<nav>  
    <div class="logo">
        <a href="{% url 'main' %}">
        <img src="{% static 'app/images/rayo_logo.png' %}" data-src="{% static 'app/images/rayo_logo.png' %}" class="lazyload" alt="Rayo Logo">
        </a>
    </div>
    <ul>			
        <li><a href="{% url 'tienda' %}" class="link">Tienda</a></li>
        {% if user.is_superuser %}
        <li><a href="{% url 'atenciones' %}" class="link">Generar Atención</a></li>
        <li><a href="{% url 'rev_atenciones' %}" class="link">Revisar Atenciones</a></li>
        <li><a href="{% url 'rev_postulaciones' %}" class="link">Revisar Postulaciones</a></li>
        {% endif %}
        <li><a href="{% url 'carrito' %}" class="link">Mi Carrito</a></li>
        {% if user.is_authenticated %}
            <li class="dropdown">
                <a href="#" class="link">{{ user.username }}</a>
                <div class="dropdown-content">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="link">Cerrar Sesión</button>
                    </form>
                </div>
            </li>
        {% else %}
            <li><a href="{% url 'login' %}" class="link">Iniciar Sesión</a></li>
        {% endif %}    
    </ul>
</nav>

<div class="contenido">
  {% block contenido %}
  
  {% endblock  %}
</div>

<!--Pie de la página-->
<div class="pie">
  <footer class="pie_pagina">
    <div>
        Número de contacto: 9 2134 8199
      <br>
        <a href="mailto:jen.marin@duocuc.cl" download>Contactanos Vía E-mail</a>
      <br>
        <a href="https://maps.app.goo.gl/UeDyFPCjS79GM8bQ6" target="_blank" >Revisa Nuestra Ubicación!</a>
      <br>
        <a href="{% url 'trabaja_con_nosotros' %}">Trabaja con nosotros</a>
      <br>
        &copy; 2024, Taller Mecánico Rayo McQueen
    </div>
  </footer>
</div>

{% block js %}

{% endblock %}
<!--Script para Api-->
<script src="{% static 'app/js/base/scriptApi.js' %}"></script>
<!--Script para Lazyloading-->
<script src="{% static 'app/js/base/lazyload.js' %}"></script>
<!--Script Modal
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="{% static 'app/js/base/modal.js' %}"></script>-->
</body>
</html>