{% extends "app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'app/css/carrito/styles.css' %}">
{% endblock %}
{% block contenido %}
<!-- Carrito -->
<main class="main-cart">
    <div class="bloque">
        <div class="atencion">
            <header>
                <h1>Carrito de Compras</h1>
            </header>
            <ul class="formato-carrito">
                {% for item in itemcarritos %}
                <li class="cart-list">
                    <img src="{{ item.producto.imagen.url }}" id="img">{{ item.producto.nombre }}
                    <br>
                    Cantidad: {{ item.cantidad }}
                    <br>
                    Valor: ${{ item.producto.precio }}
                    <br>
                    Total: ${{ item.precio }}
                    <br>
                    <a href="{% url 'eliminar_del_carrito' item.id %}"> <button class="del-button" id="red">Eliminar</button> </a>
                </li>
                {% endfor %}
            </ul>
            <div class="detalle-venta">
                --Detalle--
                <br>
                Total a pagar: ${{ carrito.precio_total}}
            </div>
            <div class="button-cart">
                <a href="{% url 'main' %}"><button id="black">Volver</button></a>
                <button id="green">Comprar</button>
            </div>
        </div>
    </div>
</main>
{% endblock %}
