{% extends "app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'app/css/formulario/styles.css' %}">
{% endblock %}
{% block contenido %}
<div class="container" style="padding: 110px 0">
    <h1 class="text-center">Postulación para Mecánico en Taller Rayo McQueen</h1>
    
    <form id= "formulario" action="{% url 'añadirpostulante' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="rut">RUT</label>
            <input type="text" class="form-control" id="rut" name="rut" required minlength="9" maxlength="10">
        </div>
        <div class="form-group">
            <label for="pnombre">Nombre</label>
            <input type="text" class="form-control" id="pnombre" name="pnombre" pattern="[A-Za-z\s]+" title="El nombre no debe contener números" required minlength="3" maxlength="50">
        </div>
        <div class="form-group">
            <label for="appaterno">Apellido Paterno</label>
            <input type="text" class="form-control" id="appaterno" name="appaterno" pattern="[A-Za-z\s]+" title="El nombre no debe contener números" required minlength="3" maxlength="50">
        </div>
        <div class="form-group">
            <label for="apmaterno">Apellido Materno</label>
            <input type="text" class="form-control" id="apmaterno" name="apmaterno" pattern="[A-Za-z\s]+" title="El nombre no debe contener números" required minlength="3" maxlength="50">
        </div>
        <div class="form-group">
            <label for="edad">Edad</label>
            <input type="number" class="form-control" id="edad" name="edad" required min="18" max="70">
        </div>
        <div class="form-group">
            <label for="tipo_genero"> Género</label>
            <select class="form-control" id="tipo_genero" name="tipo_genero" required>
                <option value="">Seleccione</option>
                <option value="1">Femenino</option>
                <option value="2">Masculino</option>
                <option value="3">Helicoptera</option>
            </select>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="celular">Celular</label><br><br>
            <input type="number" class="form-control" id="celular" name="celular" required minlength="9" maxlength="12">
        </div>
        <div class="form-group">
            <label for="especializacion">Especialización</label>
            <input type="text" class="form-control" id="especializacion" name="especializacion" required>
        </div>
        <div class="form-group">
            <label for="motivo">Por qué quieres trabajar con nosotros?</label>
            <textarea rows="5" class="form-control" id="motivo" name="motivo" required></textarea>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-secondary" id="crear_carta">Crear Carta</button>
            <button type="submit"class="btn btn-primary">Enviar</button>
        </div>
    </form>
    <!-- Mensajes de éxito y error -->
    {% if messages %}
    <br>
    <br>
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    <br>
    {% endif %}
    <textarea id="carta" class="form-control" rows="10" readonly></textarea>
    <br>
    <br>
    <a class="volver" href="../">Volver atrás</a>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static 'app/js/trabajaConNosotros/crearCarta.js' %}"></script>
{% endblock %}