{% extends "app/base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'app/css/rev-postulaciones/styles.min.css' %}">
{% endblock %}
{% block contenido %}
<div class="bloque">
{% if user.is_superuser %}
    <div class="atencion">
        <h1 class="text-center">Postulación para Mecánico en Taller Rayo McQueen</h1>
        <label id="id-search"> Busqueda por ID:
            <input id="id-search"  type="number" placeholder="Ingrese ID" minlength="4"></label>
        <button class="button-tabla-atenciones" id="search-button"> Buscar </button>
        <div class="tabla_atencion">
            {% if postulaciones %}
            <div class="tabla table-responsive">
                <table class="table table-border">
                    <thead>
                        <tr>
                            <th scope="col">Rut</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Primer Apellido</th>
                            <th scope="col">Segundo Apellido</th>
                            <th scope="col">Edad</th>
                            <th scope="col">Género</th>
                            <th scope="col">Email</th>
                            <th scope="col">Celular</th>
                            <th scope="col">Especialización</th>
                            <th scope="col">Motivo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for x in postulaciones %}
                        <tr>
                            <td>{{ x.rut }}</td>
                            <td>{{ x.pnombre }}</td>
                            <td>{{ x.appaterno }}</td>
                            <td>{{ x.apmaterno }}</td>
                            <td>{{ x.edad }}</td>
                            <td>{{ x.get_tipo_genero_display }}</td>
                            <td>{{ x.email }}</td>
                            <td>{{ x.celular }}</td>
                            <td>{{ x.especializacion }}</td>
                            <td>{{ x.motivo }}</td>
                            <td><a href="{% url 'actualizarpostulante' x.rut %}"><button class="button-tabla-atenciones" id="green"> Actualizar </button></a></td>
                            <td><a href="{% url 'eliminarpostulante' x.rut %}"><button class="button-tabla-atenciones" id="red"> Eliminar </button></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <h3>No hay postulaciones.</h3>
            {% endif %}
        </div>
        <div class="boton">
            <a href="{% url 'main' %}"><button class="button-tabla-atenciones" id="gray"> Volver </button></a>
        </div>
        <br>
        <br>
        <!-- Mensajes de éxito y error -->
        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% else %}
  <h1>No tienes permisos para acceder a esta página</h1>
{% endif %}
</div>
{% endblock %}