{% extends "app/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'app/css/tienda/styles.css' %}">
{% endblock %}

{% block contenido %}
<div class="bloque">
        <h1>Más Comprados</h1>
    <main>
        <div class="carousel">
            <div class="carousel-container">
                <div class="carousel-slide">
                    <div>
                        <img src="{% static 'app/images/jackson_storm_car.jpg' %}" alt="Imagen 3">  
                    </div>
                    <div class="texto">
                        <h2>Articulos</h2>
                        <p>{% lorem 3 %}</p>   
                    </div> 
                </div>
                <div class="carousel-slide">
                    <div>
                        <img src="{% static 'app/images/jackson_storm_car.jpg' %}" alt="Imagen 3">  
                    </div>
                    <div class="texto">
                        <h2>Articulos</h2>
                        <p>{% lorem 3 %}</p>   
                    </div>  
                </div>
                <div class="carousel-slide">
                    <div>
                        <img src="{% static 'app/images/jackson_storm_car.jpg' %}" alt="Imagen 3">  
                    </div>
                    <div class="texto">
                        <h2>Articulos</h2>
                        <p>{% lorem 3 %}</p>   
                    </div>                    
                </div>
            </div>
            <button class="prev" onclick="moveSlide(-1)">&#10094;</button>
            <button class="next" onclick="moveSlide(1)">&#10095;</button>
        </div>

        <h1>Tienda Online</h1>

        <div class="filtro">
            <div>
                <br>
                <br>
                <input class="input" placeholder="Buscar">
                <ul class="">Ruedas</ul>
                <ul class="">Suspensiones</ul>
                <ul class="">Turbos</ul>
                <ul class="">Frenos</ul>
                <div class="carrito">
                    <table>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Precio</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Añadir</th>
                        </tr>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">9999</th>
                            <th scope="col">1</th>
                            <th scope="col"></th>
                        </tr>
                        <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">9999</th>
                            <th scope="col">1</th>
                            <th scope="col"><a href=""><button class="button-tabla-atenciones" id="green"> + </button></a><a href=""><button class="button-tabla-atenciones" id="red"> - </button></a></th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        
        <section class="products">
        {% if productos %}
            {% for producto in productos %}
                <div class="product" data-category="{{ producto.get_categoria_prod_display }}">
                    <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
                    <h2>{{ producto.nombre }}</h2>
                    <p>${{ producto.precio }}</p>
                    <a href=""><button class="button-tabla-atenciones" id="green"> Agregar Al Carrito </button></a>
                </div>
            {% endfor %}
        {% else %}
            <h3>No hay productos disponibles.</h3>
        {% endif %}
            <a href="{% url 'test' %}">
            <div class="product">
                <img src="{% static 'app/images/+.png'%}" alt="Agregar-producto">
                <h2>Añadir Producto</h2>
            </div>
            </a>
        </section>
    </main>
<script>    
    let slideIndex = 0;

    function showSlide(index) {
        const slides = document.querySelectorAll('.carousel-slide');
        if (index >= slides.length) slideIndex = 0;
        if (index < 0) slideIndex = slides.length - 1;
        const offset = -slideIndex * 100;
        document.querySelector('.carousel-container').style.transform = `translateX(${offset}%)`;
    }
    
    function moveSlide(n) {
        showSlide(slideIndex += n);
    }
    
    showSlide(slideIndex);
</script>

</div>

{% endblock %}