body{
    background: url('../../images/tools.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.bloque{
    padding-top: 110px;
}

h1{
    color: #fff;
    background-color: #333;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product:hover{
    transform: translateY(-10px);
}

.product {
    background-color: rgba(31, 31, 31, 0.6);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s ease;
}

.product h2 {
    margin: 0;
    font-size: 20px;
}

.product img {
    width: 200px;
    height: 200px;
}

.product p {
    color: #ffffff;
    font-size: 18px;
}

.texto{
    text-align: center;
    height: 100%;
    align-self: center;
    padding-top: 5%;
}

.carousel h2{
    padding: 20px 0;
    background-color: rgba(46, 46, 46, 0.6);
}

.carousel {
    background-color: rgba(31, 31, 31, 0.6);
    border: 1px solid #ccc;
    position: relative;
    min-width: 300px;
    margin: 20px auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    min-width: 300px;
}

.carousel-slide {
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-slide img {
    width: 50%;
    display: block;
    float: left;
    min-height: 300px;
}

@media only screen and (max-width: 800px){
    .carousel p {
        font-size: 10px;
    }

    .product {
        width: 100px;
    }

    .product img{
        width: 100px;
        height: 100px;
    }

    .filtro{
        float: none !important;
        width: 100% !important;
    }
}

.prev, .next {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 100%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.filtro{
    background-color: rgba(31, 31, 31, 0.6);
    border: 1px solid #ccc;
    float: left;
    width: 20%;
    min-width: 300px;
    min-height: 400px;
}

.filtro ul{
    margin: 20px;
}

.input {
    border: 2px solid transparent;
    width: 50%;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: #F3F3F3;
    border-radius: 10px;
    transition: all 0.5s;
}

.input:hover,
.input:focus {
    border: 2px solid #ec4a4a;
    box-shadow: 0px 0px 0px 7px rgba(236, 74, 74, 0.2);
    background-color: white;
}

.filtro input{
    margin-left: 40px;
}

.carrito{
    border: 1px solid #ccc;
    height: 100%;
    width: 100%;
    text-align: center;
}

.carrito table{
    height: 100%;
    width: 100%;
}

.agregar-prod{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 10px;
    left: 0;
}

.agregar-prod img{
    text-align: center;
    width: 100px;
    height: 100px;
}

/*Animación añadir al carrito*/
.button {
    --width: 100px;
    --height: 35px;
    --button-color: #222;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 0.45em;
    font-family: "Arial";
    transition: background 0.3s;
    border: none; /* Añadido para quitar el borde del botón */
    color: #fff; /* Añadido para que el texto del botón sea blanco */
    cursor: pointer; /* Añadido para cambiar el cursor a mano al pasar por el botón */
}

.text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-wrapper, .text, .icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #fff;
}

.text {
    top: 0
}

.text, .icon {
    transition: top 0.5s;
}

.icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon svg {
    width: 24px;
    height: 24px;
}

.button:hover {
    background: #444;
}

.button:hover .text {
    top: -100%;
}

.button:hover .icon {
    top: 0;
}
.transparent{
    background-color: transparent !important;
    border: none !important;
}
/*añadir-eliminar de carrito*/
/* Note that you only needs to edit the config to customize the button! */

.plusButton {
    /* Config start */
    --plus_topRightTriangleSideLength: 0.9rem;
    /* Config end */
    position: relative;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    width: 25px;
    height: 25px;
    background-color: #444;
    overflow: hidden;
  }
  
  .plusButton::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-width: 0 var(--plus_topRightTriangleSideLength) var(--plus_topRightTriangleSideLength) 0;
    border-style: solid;
    border-color: transparent white transparent transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
  }
  
  .plusButton:hover {
    cursor: pointer;
  }
  
  .plusButton:hover::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
  }
  
  .plusButton:focus-visible::before {
    --plus_topRightTriangleSideLength: calc(var(--plus_sideLength) * 2);
  }
  
  .plusButton>.plusIcon {
    fill: white;
    width: calc(var(--plus_sideLength) * 0.7);
    height: calc(var(--plus_sideLength) * 0.7);
    z-index: 1;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
  }
  
  .plusButton:hover>.plusIcon {
    fill: black;
    transform: rotate(180deg);
  }
  
  .plusButton:focus-visible>.plusIcon {
    fill: black;
    transform: rotate(180deg);
  }